body {
	background: white;
}

ul.tabs {
    text-align: center;
    line-height: 0.01em;
}

ul.tabs li {
    float: none !important;
    display: inline-block;
}

.tabs-content{
	height: auto;
	margin-bottom: 0;
}

.tabs-content > .content {
	padding: 0;
	height: 100%;
}

.tabs dd > a, .tabs .tab-title > a {
	background-color: white;
	border: 15px solid white;
 
}

.tabs dd > a:hover, .tabs .tab-title > a:hover {
	background-color: white;
	color: #CCCCCC;
	border: 15px solid white;

}

.tabs dd.active a, .tabs .tab-title.active a {
	background-color: #363636;
	border: 15px solid white;
	border-radius: 20px;

	color: white;
}

.home {
	margin-top: 19px;
	margin-left: 10px;
	color: #3374BA;
}

.home a:hover {
	color: #3374BA;
}

.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
   border-bottom: 1px solid #E7E7E7;
}

@font-face {
  font-family: 'ITCAvantGardeStd-Demi';
  src: url('fonts/ITCAvantGardeStd-Demi.otf'); 
  src: 
    local('ITCAvantGardeStd-Demi'),
    local('ITCAvantGardeStd-Demi'),
    url('fonts/ITCAvantGardeStd-Demi.otf') 
    format('opentype');
}

#wrapper {
	width: 90%;
	max-width: 90%;
	margin: auto auto;
	text-align: center;
}

.teabot_section {
	position: relative;
	background-image: url("../img/crosses.png");
	background-repeat: repeat;
	background-attachment: scroll;
	text-align: center;
	height: 100%;
}

.teabot_section a {
	font-size: 20px;
}

.teabot_section p {
	padding-top: 15px;
	color: #616161;
}

.teabot_section h1 {
	color: #616161;
}

.SD_section {
  background: white;
  text-align: center;
  width: 100%;
  height: 100%;
}

.SD_section p {
  margin-left: 20%;
  margin-right: 20%;
}

.FL_section {
	background: #363636;
	text-align: center;
	width: 100%;
	height: 100%;
}

.FL_back{
		background: #363636;
		height: 20vh;
}


.FL_section h1 {
	color: white;
}
.FL_section p {
	color: white;
	margin-left: 50px;
	margin-right: 50px;
}

.other_section {
	background: #363636;
	text-align: center;
	padding-top: 20px;
}


.other_section p {
	color: white;
}




#single_image {
	display: block;
	margin-left: auto;
	margin-right: auto;

}

.gfyVid {
	    /* box-shadow: 0px 10px 50px #888888; */	
	    max-height: 70vh;
}


.sub-nav dt.active a, .sub-nav dd.active a, .sub-nav li.active a {
	background: #363636;
}
.sub-nav dt.active a:hover, .sub-nav dd.active a:hover, .sub-nav li.active a:hover {
	background: #363636;
}
.sub-nav dd {
	display: inline-block;
	float: none;
}
dl.sub-nav {
	text-align: center;
}


.header {

	width: 100%;
	height:50px;
	
	  position: relative;
	  background-image: url("../img/use_your_illusion.png");
	  background-repeat: repeat;
	  background-attachment: scroll;

}

.title_page {
  position: relative;
  top: 5%;
  text-align: center; 
  display: block;
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
}


h1 {

	font-family: 'ITCAvantGardeStd-Demi', sans-serif;
}

.title_page h2 {
	font-family: 'ITCAvantGardeStd-Demi', sans-serif;
	font-size: 12px;
	color: #757575;	
}

.title_page h1 {
	font-size: 2.5em;
	color: #4E4D4D;
}


@media (min-width: 718px){
	.title_page h1 {
		font-size: 5em;
	}
  .title_page h2 {
    font-size: 1em;
  }  
}

.button-center {
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  height: 50px;
}

@keyframes fadein {
    from {
        opacity:0;
        -webkit-transform: translateY(-20px);
    }
    to {
        opacity:1;
        -webkit-transform: translateY(0);
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
        -webkit-transform: translateY(-20px);
    }
    to {
        opacity:1;
        -webkit-transform: translateY(0);
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
        -webkit-transform: translateY(-20px);
    }
    to {
        opacity:1;
        -webkit-transform: translateY(0);
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
        -webkit-transform: translateY(-20px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}


.orbit-container .orbit-slides-container img {
  display: block;
  max-width: 100%; 
  margin: 0 auto;
}

.orbit-container {
    overflow: visible !important;
}
.orbit-slides-container {
    overflow: hidden !important;
}
.orbit-container .orbit-prev {
    margin-left: -25px;
}
.orbit-container .orbit-next {
    margin-right: -25px;
}


.dark .orbit-container .orbit-next > span {
      border-left-color: #424242;
  }

.dark .orbit-container .orbit-prev > span {
      border-right-color: #424242; 
  }
