html, body {
  margin: 0;
  height: 100%;
  background-color: #000;
  padding: 0px;
  font-size: 12px;
}

@media screen and (min-width: 480px) {
    body {
        font-size: 20px;
    }
}

.app-container {
  position: relative;
  height: 100%;
}

#app {
  height: 100%;
}

.home-icon {
  position: fixed;
  top: 5px;
  left: 5px;
  display: flex;
  width: 50px;
  height: 50px;
  z-index: 6;
  cursor: pointer;
}

.hide-3d canvas {
  display: none;
}

.home-icon h1 {
  margin: auto;
  font-size: 1.8em !important;
  color: #FFF;
}

.WHITE .home-icon h1 {
  color: #000;
}

.menu-icon {
  position: fixed;
  top: 5px;
  right: 5px;
  display: flex;
  width: 110px;
  height: 50px;
  z-index: 3;
  pointer-events: auto;
  cursor: pointer;
}

.menu-icon-regular {
  width: 50px !important;
}

.menu-icon span {
  margin: auto;
  color: #FFF;
  font-size: 0.9em;
  margin-right: 0px;
}


#x-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.menu-icon svg {
  margin: auto;
  width: 25px;
  height: 25px;
  fill: #FFF;
}

.WHITE .menu-icon svg {
  fill: #000;
}

.title_page {
  display: flex;
  margin: auto;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
}

.headline-container {
  pointer-events: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
}

.headline {
  margin: auto;
  text-align: center;
  height: auto;
}

.headline h1 {
  margin: auto;
  font-size: 3em;
  pointer-events: auto;
  color: #FFF;
  text-align: center;
  -webkit-user-select: none; /* Chrome, Opera, Safari */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
  font-family: 'ITCAvantGardeStd-Demi', sans-serif;
}

.headline h2 {
  font-size: 1em;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  margin-top: 0.6em;
}

.WHITE .headline h1 {
  color: #000;
}
.WHITE .headline h2 {
  color: #000;
}

@media screen and (max-width: 480px) {
    .title_page h1 {
        font-size: 1.8em;
    }
}

.menu {
  position: fixed;
  z-index: 5;
  background-color: rgba(0, 0, 0, 1);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.menu h1 {
    margin: auto;
    margin-bottom: 10px;
    margin-top: 100px;
    color: #6b6b6b;
    text-transform: uppercase;
    font-size: 1.2em;
}

.menu .feature {
  width: 80%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.51);
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 4em;
  cursor: pointer;
}

.feature span {
  color: rgba(255, 255, 255, 0.34);
}

.feature h2 {
  color: #FFF;
  margin: auto;
  font-size: 4em;
}

.portfolio-feature {
  width: 100%;
  height: 100%;
  background-color: #000;
}

.cover {
  width: 100%;
  height: 95%;
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-direction: column;
}

.scroll-indicator {
  height: 50px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  text-align: center;
}

.scroll-indicator svg {
  width: 30px;
  height: 30px;
  margin:  auto;
}

.cover-headline {
  margin: auto;
  color: #FFF;
  text-align: center;
}

.links-to-app {
  margin:  auto;
  width: 250px;
  height: 50px;
  display: flex;
  margin-top: 1.5em;
  cursor: pointer;
}

.links-to-app .app-link {
  margin:  auto;
  height: 50px;
  width: 50px;
}

.cover-headline h1 {
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-size: 2.5em;
  font-weight: 600;
  font-family: 'ITCAvantGardeStd-Demi', sans-serif;
}

.cover-headline h2 {
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 0.4em;
  margin-top: 0px;
  font-weight: 300;
}

.content-section {
  height: auto;
  width: 100%;
  background-color: #000;
}

.content-section .content-panel {
  width: 100%;
  min-height: 800px;
  background-color: #000;
  display: flex;
  flex-direction: column;
}

.content-panel h1 {
  width: 100%;
  margin: auto;
  color: #FFF;
  text-align: center;
  font-size: 1.8em;
  margin-bottom: 0px;
}

.alt-content-panel {
  background-color: #121212 !important;
}


#s1_background {
  background-image: url("https://s3.us-east-2.amazonaws.com/taylordotsikasportfolio/s1_cover_faded.png");
}

#sd_background {
  background-image: url("https://s3.us-east-2.amazonaws.com/taylordotsikasportfolio/3boats.jpg");
}

.iphone-container {
  opacity: 1;
  width: 375px;
  height: 667px;
  position: relative;
  display: flex;
  margin: auto;
}

.iphone-container svg {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto;
}

.iphone-container .video-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
} 

.video-container video {
  margin: auto;
  width: 80%;
}

.desktop-video {
  margin: auto;
  height: auto;
  margin-top: 2em;
  margin-bottom: 2em; 
  width: 95%;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0
}

/*.slide-leave-active,
.slide-enter-active {
  transition: 0.2s;
}
.slide-enter {
  transform: translate(-100%, 0);
}
.slide-leave-to {
  transform: translate(-100%, 0);
}*/


/*.portfolio-transition-leave-active,
.portfolio-transition-active {
  transition: 2s;
  opacity: 1;
}
.portfolio-transition-enter {
  transform: translate(100%, 0);
}
.portfolio-transition-leave-to {
  //transform: translate(100%, 0);
}*/

/* v-vpshow classes */
.before-enter {
  opacity: 0;
  transform: translateY(2em);
}

.enter {
  transition: all 2s ease;
}
/* ---------------- */



