body {
	background: white;
}

ul.tabs {
    text-align: center;
}

ul.tabs li {
    float: none !important;
    display: inline-block;
}

.tabs-content{
	height: auto;
	margin-bottom: 0;
}

.tabs-content > .content {
	padding: 0;
	height: 100%;
}

.tabs dd > a, .tabs .tab-title > a {
	background-color: white; 
}

.tabs dd.active a, .tabs .tab-title.active a {
	background-color: #363636;
	color: white;
}

.home {
	margin-top: 15px;
	margin-left: 10px;
	color: #3D82C4;
}

.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
  /*	border-bottom: 1px solid #E7E7E7; */
}

@font-face {
  font-family: 'ITCAvantGardeStd-Demi';
  src: url('fonts/ITCAvantGardeStd-Demi.otf'); 
  src: 
    local('ITCAvantGardeStd-Demi'),
    local('ITCAvantGardeStd-Demi'),
    url('fonts/ITCAvantGardeStd-Demi.otf') 
    format('opentype');
}

#wrapper {
	width: 90%;
	max-width: 90%;
	margin: auto auto;
	text-align: center;
}

.teabot_section {
	position: relative;
	background-image: url("../img/crosses.png");
	background-repeat: repeat;
	background-attachment: scroll;
	text-align: center;
	height: 100%;
}

.teabot_section a {
	font-size: 20px;
}

.teabot_section p {
	padding-top: 15px;
}

.FL_section {
	background: #363636;
	text-align: center;
	width: 100%;
	height: 100%;
}

.FL_back{
		background: #363636;
		height: 20vh;
}


.FL_section h1 {
	color: white;
}
.FL_section p {
	color: white;
	margin-left: 50px;
	margin-right: 50px;
}

.other_section {
	background: #363636;
	text-align: center;
	padding-top: 20px;
	width: 100%;
	position: relative;
}

.other_section h1 {
	color: white;
}
.other_section p {
	color: white;
}

.other_section .pin p {
	color: white;
}
.other_section .pin h2 {
	color: white;
	font: 15px Arial, sans-serif;
	font-weight: bold;
}

#columns_teabot {
	-webkit-column-count: 2;
	-webkit-column-gap: 15px;
	-webkit-column-fill: auto;
	-moz-column-count: 2;
	-moz-column-gap: 15px;
	-moz-column-fill: auto;
	column-count: 2;
	column-gap: 15px;
	column-fill: auto;
}



#single_image {
	display: block;
	margin-left: auto;
	margin-right: auto;

}

.gfyVid {
	    /* box-shadow: 0px 10px 50px #888888; */	
	    max-height: 70vh;
}


.sub-nav dt.active a, .sub-nav dd.active a, .sub-nav li.active a {
	background: #363636;
}
.sub-nav dt.active a:hover, .sub-nav dd.active a:hover, .sub-nav li.active a:hover {
	background: #363636;
}
.sub-nav dd {
	display: inline-block;
	float: none;
}
dl.sub-nav {
	text-align: center;
}


.header {

	width: 100%;
	height:50px;
	
	  position: relative;
	  background-image: url("../img/use_your_illusion.png");
	  background-repeat: repeat;
	  background-attachment: scroll;

}

h1 {

	font-family: 'ITCAvantGardeStd-Demi', sans-serif;
	  animation: fadein 1.5s;
-moz-animation: fadein 1.5s; /* Firefox */
-webkit-animation: fadein 1.5s; /* Safari and Chrome */
-o-animation: fadein 1.5s; /* Opera */
}

.button-center {
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  height: 50px;
}

@keyframes fadein {
    from {
        opacity:0;
        -webkit-transform: translateY(-20px);
    }
    to {
        opacity:1;
        -webkit-transform: translateY(0);
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
        -webkit-transform: translateY(-20px);
    }
    to {
        opacity:1;
        -webkit-transform: translateY(0);
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
        -webkit-transform: translateY(-20px);
    }
    to {
        opacity:1;
        -webkit-transform: translateY(0);
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
        -webkit-transform: translateY(-20px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}


.orbit-container .orbit-slides-container img {
  display: block;
  max-width: 100%; 
  margin: 0 auto;
}

.orbit-container {
    overflow: visible !important;
}
.orbit-slides-container {
    overflow: hidden !important;
}
.orbit-container .orbit-prev {
    margin-left: -25px;
}
.orbit-container .orbit-next {
    margin-right: -25px;
}


.pin {
	display: inline-block;
	margin: 0 2px 15px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding: 15px;
	padding-bottom: 5px;
	opacity: 1;
	
}

.pin img {
	width: 100%;
	padding-bottom: 15px;
	
}

.pin p {
	font: 12px/18px Arial, sans-serif;
	color: #333;
	margin: 0;
}

@media (min-width: 650px) {
	#columns_teabot {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}

}

@media (min-width: 1000px) {
	#columns_teabot {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}

}


@media (min-width: 1500px) {
	#columns_teabot {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}


}


