userSelectNone()
  -webkit-user-select: none; /* Chrome, Opera, Safari */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
  
selectable()
  -webkit-user-select: auto; /* Chrome, Opera, Safari */
  -moz-user-select: auto; /* Firefox 2+ */
  -ms-user-select: auto; /* IE 10+ */
  user-select: auto; /* Standard syntax */
  
curveTop()
  border-top-left-radius 4px
  border-top-right-radius 4px
  @media (max-width: med)
    border-radius 0px
    
 // @font-face
 //   font-family 'ITCAvantGardeStd-Demi'
 //   font-style sans-serif
 //   src local('ITCAvantGardeStd-Demi'), url(../fonts/ITCAvantGardeStd-Demi.otf) format('otf')
    
  
font = "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
customFont = 'ITCAvantGardeStd-Demi'
maxContainerWidth = 1246px;
med = 1130px;
sml = 480px;

menuTransitionTime = 0.5s;
featureTransitionTime = 0.1s


//stylus -w -c app.styl -o app.css


// .darkHeader
//   background-color #333333
  
html, body, #root, .App, main 
  margin 0
  height 100%
  padding 0px
  font-size 20px
  font-family font
  // overflow-y hidden
  // overflow-x hidden
  @media (max-width: sml)
    font-size 16px

canvas
  transition opacity menuTransitionTime
  width 100%
  height 100%
  
#three
  height 100%
  overflow-y hidden
  
#root, .App, main
  height 100%
    
p
  line-height 1.62em
  
.webgl-notice
  line-height 1.6em
  text-align center
  background-color #FFF
  display flex
  span
    color #000
    margin auto
  
.rect-fill
  position fixed
  z-index 6
  top 0
  left 0
  right 0
  height 62px
  background-color #232327
  display flex
  h1
    margin auto
    color #FFF
    font-size 1.414em
  @media (max-width: sml)
    height 50px
    h1
      font-size 1em
      margin-left auto
    
headerFadeTime = 0.5s;

.headerFade-enter-active,.headerFade-leave-active 
  transition headerFadeTime
  transition-timing-function cubic-bezier(0, 1.24, 0.35, 0.98)
  background-color #232327
  opacity 1

.headerFade-enter,.headerFade-leave-to
  transform translate(0, -100%)
  background-color #232327
  opacity 0
  
header
  position fixed
  top 0em
  left 0em
  padding 0.3em
  height 2.5em
  z-index 10
  display flex
  background-color transparent
  transition background-color 0.2s
  .home-icon 
    margin auto
    margin-left 0px
    display flex
    width 2.5em
    height 100%
    cursor pointer
    pointer-events auto
    userSelectNone()
    svg
      margin auto
      width 2em
      height 2em
      pointer-events none
  .headerIconMenuOpen
    @media (max-width: sml)
      display none
      
menuBarLightColor = #FFF;
menuBarDarkColor = #101010;

menuBarHeight = 0.17em;
menuBarWidth = 1.5em;

menuBar2Offset = 0.35em;
menuBar3Offset = 0.7em;

menuTransition = 0.2s ease-in-out;

#menuIcon
  position fixed
  z-index 7
  top 1.07em
  right 0.94em
  display flex
  width menuBarWidth
  height 1.188em
  pointer-events auto
  cursor pointer
  userSelectNone() 
  span 
    display block
    position absolute
    height menuBarHeight
    width 100%
    background menuBarLightColor
    opacity 1
    left 0
    -webkit-transform rotate(0deg)
    -ms-transform  rotate(0deg)
    transform rotate(0deg)
    transition menuTransition*2
    &:nth-child(1)
      top 0
    &:nth-child(2)
      top menuBar2Offset
    &:nth-child(3)
      top menuBar3Offset
      
#menuIcon.open
  span
    transform rotate(90deg)
    background-color menuBarDarkColor
    &:nth-child(1)
      top menuBar2Offset
      -webkit-transform rotate(135deg)
      -ms-transform rotate(135deg)
      transform rotate(135deg)
    &:nth-child(2)
      opacity 0
      //left -60px
    &:nth-child(3)
      top menuBar2Offset
      -webkit-transform rotate(-135deg)
      -ms-transform rotate(-135deg)
      transform rotate(-135deg)
      
#workLabel
  position fixed
  z-index 7
  top .93em
  right 3.5em
  font-weight 600
  color #FFF
  transition color menuTransition
  cursor pointer
  userSelectNone()
  @media (max-width: sml)
    display none
      
.homeScreen
  #menuIcon
    span
      background-color menuBarDarkColor
    
.menu-button-container
  position fixed
  z-index 7
  top 0
  height 3em
  right 0
  width 8em
  cursor pointer

.hide-3d
  canvas
    display none
    

.blur
  canvas
    opacity 0.2
  @media(max-width: sml)
    canvas
      opacity 0.2

.WHITE
  .home-icon
    h1
      color #000


.BLACK.homeScreen
  #menuIcon
    span
      background-color #FFF
  #workLabel
    color #FFF
      
.noWebGL
  .headline
    h1
      color #FFF
    h2
      color #FFF

.homeScreen
  .home-icon
    display none
  #workLabel
    color menuBarDarkColor



.menu-icon-regular 
  width 50px !important
  position absolute
  right 1em
  top 1em
  display flex
  height 3em

#x-icon
  margin auto 
  width 30px
  height 30px
  cursor pointer
  fill #000

.title_page 
  display flex
  margin auto
  width 100%
  height 100%
  position absolute
  z-index 100
  h1
    @media (max-width: sml)
      font-size 1.8em


.headline-container 
  pointer-events none
  position fixed
  z-index 2
  top 0
  bottom 0
  right 0
  left 0
  display flex
  display none
  svg
    margin auto
    height auto
    width 25em
    @media (max-width: sml)
      width 20em


.headline 
  margin auto
  text-align center
  height auto
  width auto
  padding 1.5em 2.5em 0.25em 2.5em
  background-color rgba(26, 26, 26, 0.98)
  display flex
  flex-direction column
  font-size 17px
  border-radius 2px
  userSelectNone()
  @media (max-width: sml)
    font-size 12px
  h1
    margin auto
    font-size 2em
    color #FFF
    font-family font
    margin-bottom 0.25em
  .secondary-headline-row
    width 91%
    margin auto
    h2
      margin auto
      text-align center
      font-size 0.8em
      width 100%
      color #8f9aa9
      text-transform uppercase
      letter-spacing 0.1em
      line-height 1.4em
      &:first-child
        margin-bottom 0.5em
  .view-work
    width 100%
    height 4em
    display flex
    pointer-events auto
    cursor pointer
    margin auto
    span
      margin auto
      text-transform uppercase
      color white
      transition all 0.2s
      letter-spacing 0.1em
      font-size 0.9em
      font-weight 600
      padding .5em 1.5em .5em 1.5em
      background-color rgba(33, 150, 243, 0.38)
      border rgba(33, 150, 243, 0.5)
      box-shadow 0px 2px 5px #000
      border-radius 2px
    &:hover
      span
        background-color rgb(82, 156, 193)



featureBlock()
  margin auto
  display flex
  height 100%
  flex-direction column
  
leftAllignment()
  text-align left
  margin-left 30px
  @media (max-width: sml)
    margin-left 10px
    
rightAllignment()
  margin-right 30px
  @media (max-width: sml)
    margin-right 10px


highlightColor = #4682b4

.black-curtain
  position fixed
  z-index 5
  background-color rgba(0,0,0,0.7)
  width 100%
  height 100%

.menu
  position fixed
  z-index 6
  background-color rgba(255,255,255,1)
  top 0
  width 65%
  max-width 30em
  right 0
  bottom 0
  display flex
  flex-direction column
  text-align center
  overflow hidden
  will-change transform
  .menu-header
    height 15%
    width 100%
    display flex
    border-bottom 1px solid #E2E2E2
    margin auto
    h1
      margin: auto;
      color: #272727;
      font-size: 1em;
      margin-bottom: 1.5em;
      text-transform: uppercase;
  .feature-list
    margin auto
    margin-top 0px
    height 60%
    width 100%
    display flex
    flex-direction column
    userSelectNone()
    .feature
      width 93%
      height calc(100%/5)
      margin auto
      display flex
      border-bottom 1px solid #E2E2E2
      cursor pointer
      text-decoration none
      h1
        color #000000
      &:visited
        h1
          color #000000
      &:hover
        .feature-info
          h1
            color highlightColor
            .indicator
              display inline-block
              width 17px
              margin-right 8px
      .feature-info
        featureBlock()
        width 70%
        h1
          margin auto
          leftAllignment()
          display flex
          margin-bottom 0.5em
          font-size 1.414em
          transition color featureTransitionTime
          .indicator
            margin auto
            margin-left 0px
            margin-right 0px
            height 3px
            width 0px
            background-color highlightColor
            transition width featureTransitionTime
            @media (max-width: sml)
              display none !important
        span
          margin auto
          leftAllignment()
          margin-top 0px
          font-size 1em
          color #808080
      .feature-date
        featureBlock()
        width 30%
        span
          margin auto
          rightAllignment()
          color #7B7B7B
          text-align right
      .singleTitle
        h1
          font-size 1.3em !important
          margin-bottom auto !important
  .menu-footer
    width 93%
    height 25%
    display flex
    flex-direction column
    margin auto
    span
      margin auto
      margin-bottom 0px
      leftAllignment()
      selectable()
    .email-link
      margin-top 1em
      margin-bottom 3em
  @media(max-width: sml)
    box-shadow none
    width 86%
    font-size 13px



.graphics-feature
  width 100%
  height 100%
  display flex
  opacity 1
  transition opacity 0.25s
  background-color #000
  .swiper-container
    width 100%
    height calc(100% - 62px)
    margin auto
    margin-bottom 0px
    background-color #FFF
    @media (max-width: sml)
      height calc(100% - 50px)
    .swiper-button-next
      background-image url("https://s3.us-east-2.amazonaws.com/taylordotsikasportfolio/ui/chevron-right.svg")
    .swiper-button-prev
      background-image url("https://s3.us-east-2.amazonaws.com/taylordotsikasportfolio/ui/chevron-left.svg")
    .swiper-slide
      color white
      display flex
      img
        margin auto
        max-width 80%
        max-height 90%
        padding-bottom 2em


.portfolio-feature 
  width 100%
  height 100%
  opacity 1
  transition opacity 0.25s
  will-change opacity
  background-color #000
  .scrollUpSection
    width calc(100% - 6.34em)
    margin-left 3.17em
    @media (max-width: med)
      width 100%
      margin-left 0px
    position relative
    background-color #FFF
    padding-bottom 1px
    curveTop()
  .scrollUpBack
    width 100%
    position relative
    top 80%
    background-color #080808
    padding-bottom 1px
    background -webkit-linear-gradient(rgba(0, 0, 0, 0), black)
    background -o-linear-gradient(rgba(0, 0, 0, 0), black)
    background -moz-linear-gradient(rgba(0, 0, 0, 0), black)
    background linear-gradient(rgba(0, 0, 0, 0), black)
  footer
    background-color #171717
    transition background-color menuTransition
    height 7em
    margin-bottom -1px
    display flex
    cursor pointer
    .center-content
      margin auto
      text-align center
      color #cecece
      h1
        font-size 1em
        margin-bottom 0.4em
        margin-top 0em
      span
        font-size 0.8em
  .emailFooter
    background-color #4CAF50
    .email-display
      margin auto
      input
        margin auto
        width 17em
        text-align center
        height 3em
        font-size 100%
      
    
        
.unfocusedFeature
  opacity 0.3
        
sideTextContainer()
  margin auto
  width 3em
  position fixed
  height 100%
  z-index 2
  cursor pointer
  @media (max-width: med)
    display none
  svg
    position absolute
    top 50%
    left 50%
    width 2em
    height 2em
    text-align center
    text-transform uppercase
    font-size 0.9em
    color #ababab
    
.side-text-left
  sideTextContainer()
  left 0
  svg
    transform translateX(-50%) translateY(-50%) rotate(90deg)
.side-text-right
  sideTextContainer()
  right 0
  svg
    transform translateX(-50%) translateY(-50%) rotate(-90deg)

.cover 
  top 0
  bottom 0
  left 0
  right 0
  position fixed
  background-color #000
  background-repeat no-repeat
  background-position center
  background-size cover
  display flex
  will-change opacity
  .cover-headline 
    margin auto
    color #FFF
    text-align center
    width 80%
    padding-bottom 5em
    h1
      text-transform uppercase
      font-size 3.998em
      font-weight 600
      margin-bottom 0.3em
      userSelectNone()
    h2
      text-transform uppercase
      font-size 1.414em
      letter-spacing 0.2em
      margin-top 0px
      font-weight 300
      font-family font
      color #ffffffbf
      userSelectNone()
    h3
      font-size 1em
      font-weight 300
      font-family font
      color #ffffffbf
      userSelectNone()
    @media (max-width: sml)
      width 100%
      h1
        font-size 2em
        margin-bottom 0.4em
      h2
        font-size 0.9em
      h3
        font-size 0.707em
  .links-to-app 
    margin auto
    width 250px
    height 50px
    display flex
    margin-top 1.5em
    cursor pointer
    .app-link
      margin auto
      height 50px
      width 50px
  .scroll-indicator
    height 50px
    margin-bottom 20px
    left 0
    right 0
    display flex
    text-align center
    position fixed
    z-index 2
    bottom 17%
    display none
    svg
      width 30px
      height 30px
      margin auto
    @media (max-width: sml)
      bottom 14%

.overview-banner
  height auto
  padding 2em 0em
  background-color #F2F2F2
  display flex
  curveTop()
  .banner-container
    width 80%
    margin auto
    max-width maxContainerWidth
    p
      color #333333
      userSelectNone()
      &:first-child
        margin-top 0px
      &:last-child
        margin-bottom 0px
    @media (max-width: sml)
      width 90%
  @media (max-width: sml)
    padding 1.2em 0em

.content-section
  height auto
  width 100%
  margin-top 4.54em
  @media (max-width: med)
    margin-top 3em
  .content-panel
    width 80%
    display block
    overflow auto
    min-height 667px
    max-width maxContainerWidth
    background-color #FFF
    margin 8em auto
    &:first-child
      margin-top 0px
    &:last-child
      margin-bottom 5em
    .description-area
      height 100%
      width 49.4%
      display inline-block
      float left
      p
        color #404040
      .quote
        font-style italic
    h1
      width 50%
      line-height 1.3em
      margin auto
      color #000
      text-align left
      font-size 1.8em
      margin-bottom 0px
      margin-left 0px
    @media (max-width: med)
      margin 3em auto
      .description-area
        width 100%
      .iphone-container
        float none
        margin-bottom 1em
      h1
        width 95%
        margin auto
        text-align center
        margin-bottom 1em
    @media (max-width: sml)
      width 100%
      .description-area
        width auto 
        padding 0 1em
  .alt-content-panel
    @media (min-width: med)
      h1
        margin-right 0
        margin-left auto
        width 49.5%
      .description-area
        float right
      .iphone-container
        margin-left 0.1em
        margin-right auto
        float left
  .full-width-content
    h1
      width 100%
      margin auto
      text-align center
      margin-bottom 0.08em
    .description-area
      width 100%
    @media (max-width: sml)
      width 100%
      .description-area
        width auto 
        padding 0 1em
        
      
.tabbed-content
  width 100%
  height auto
  margin-top 2.05em
  .title-row
    display flex
    border-bottom 2px solid #e8e8e8
    width 100%
    height 3em
    display flex
    margin-bottom 1em
    padding-bottom 0.2em
    @media (max-width: sml)
      padding-bottom 0px
    .tab-title
      font-weight 500
      color #B4B4B4
      margin auto
      cursor pointer
      margin-left 0px
      transition color 0.2s
      padding 0px 0.35em
      padding-left 1px
      line-height 1.3em
      margin-right 1em
      &:hover
        color #0070c9
    .activeTitle
      color #171717
      cursor default
      &:hover
        color #171717
  .tab-content-area
    width 100% 
  @media (max-width: sml)
    margin-top 2em
    margin-right auto
    .title-row
      .tab-title
        padding 0px .4em
        padding-left 1px
        margin-right auto
        margin-bottom 1em


.iphone-container
  width 375px
  height 667px
  float right
  position relative
  display flex
  margin auto
  margin-top -2.2em
  margin-right 0.1em
  svg
    position absolute
    width 100%
    height 100%
    margin auto
    @media (max-width: sml)
      display none
  .video-container
    position absolute
    width 100%
    height 100%
    display flex
    video
      margin auto
      width 80%
      @media (max-width: sml)
        width 100%
  @media (max-width: med)
    margin-top auto
    margin-right auto

.desktop-video 
  margin-left 1em
  margin-right 1em
  height auto
  position relative
  img
    width 100%
    margin 1em 0em
  .video-container 
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    display flex
    video
      margin auto
      width 76%
      padding-right 5px
      padding-bottom 15px
      
.ipadFeatureLandscape
  margin-left 1em
  margin-right 1em
  height auto
  position relative
  img
    width 100%
    margin 1em 0em
    
.ipadFeaturePortrait
  margin-left 7em
  margin-right 7em
  height auto
  position relative
  img
    width 100%
    margin 1em 0em
  @media (max-width: med)
    margin-left 4em
    margin-right 4em
  @media (max-width: sml)
    margin-left 1em
    margin-right 1em
      

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms cubic-bezier(0, 1, 0.5, 1);
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms cubic-bezier(0, 1, 0.5, 1);
}

// .slide-leave-active,
// .slide-enter-active {
//   transition: menuTransitionTime;
// }
// .slide-enter {
//   transform: translate(100%, 0);
// }
// .slide-leave-to {
//   transform: translate(100%, 0);
// }


.portfolio-transition-enter-active {
  transition: opacity 1s
}
.portfolio-transition-enter {
  opacity: 0
}


/* v-vpshow classes */
.before-enter {
  opacity: 0;
  //transform: translateY(2em);
}

.enter {
  transition: all 2s ease;
}

.bounce {
  animation-iteration-count: 2;
}



.slide-enter {
  transform: translateX(100%);
  transition: menuTransitionTime cubic-bezier(0, 1, 0.5, 1);

  &.slide-enter-active {
    transform: translateX(0%);
  }
}

.slide-leave {
  transform: translateX(100%);
  transition: menuTransitionTime cubic-bezier(0, 1, 0.5, 1);

  &.slide-leave-active {
    transform: translateX(100%);
  }
}